
.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}


.boxybio{
  padding: 50px;
  text-align: center;
  border-style: solid;
  font-size: 2em;
  font-family:Arial, Helvetica, sans-serif;
  color: dodgerblue;
  background:rgb(22, 47, 160)
}

.boxylink {
    padding: 50px;
    text-align: center;
    border-style: solid;
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(58, 153, 55);
    background:rgb(46, 105, 44)
}


img {

width:1000px;
height: 500px;

}

iframe {

  width:1000px;
  height: 500px;
  border: 1px solid black;
}